In [1]:
import pandas as pd
import numpy as np

student_dict = {"name": ["Joe", "Sam", "Harry"], "age": [20, 21, 19], "marks": [85.10, np.nan, 91.54]}

# Create DataFrame from dict
student_df = pd.DataFrame(student_dict)
print("Before dropping row NA: \n", student_df)

# drop marks row with NaN
student_df.dropna(inplace=True)

print("\nAfter dropping row NA: \n", student_df)

Before dropping row NA:
     name  age  marks
0    Joe   20  85.10
1    Sam   21    NaN
2  Harry   19  91.54

After dropping row NA:
     name  age  marks
0    Joe   20  85.10
2  Harry   19  91.54