In [2]:
import pandas as pd

index = pd.MultiIndex.from_tuples([('Standard 1', 'Class A'),
                                   ('Standard 1', 'Class B'),
                                   ('Standard 2', 'Class A'),
                                   ('Standard 2', 'Class B')],
                                  names=['Standard', 'Class'])
columns = pd.MultiIndex.from_tuples([('Name', 'Surname'),
                                     ('Marks', 'Percentage')])

# create multi-index dataframe
student_df = pd.DataFrame([('Joe', 91.56),
                           ('Nat', 87.90),
                           ('Harry', 70.10),
                           ('Sam', 65.48)],
                          index=index, columns=columns)
print("\nAfter reset index: \n", student_df)

student_df = pd.DataFrame([('Joe', 91.56),
                           ('Nat', 87.90),
                           ('Harry', 70.10),
                           ('Sam', 65.48)],
                          index=index, columns=columns)

# reset multi-level index by level
student_df = student_df.reset_index(level='Standard')
print(student_df)

# reset multi-level index
student_df = student_df.reset_index()
print(student_df)

After reset index:
                       Name      Marks
                   Surname Percentage
Standard   Class
Standard 1 Class A     Joe      91.56
           Class B     Nat      87.90
Standard 2 Class A   Harry      70.10
           Class B     Sam      65.48
           Standard    Name      Marks
                    Surname Percentage
Class
Class A  Standard 1     Joe      91.56
Class B  Standard 1     Nat      87.90
Class A  Standard 2   Harry      70.10
Class B  Standard 2     Sam      65.48
     Class    Standard    Name      Marks
                       Surname Percentage
0  Class A  Standard 1     Joe      91.56
1  Class B  Standard 1     Nat      87.90
2  Class A  Standard 2   Harry      70.10
3  Class B  Standard 2     Sam      65.48